body {
  color: #222;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.wrapper {
  text-align: center;
  padding: 4rem;
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1rem;
  font-weight: normal;
  color: grey;
  margin-bottom: 2rem;
}

.file {
  border: 1px dashed lightgrey;
  padding: 2rem;
  font-size: 0.875rem;
}

.button {
  background: royalblue;
  color: white;
  display: inline-block;
  padding: 0.5rem 1rem;
  margin: 2rem 0;
  font-size: 1rem;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid royalblue;
  border-radius: 3px;
}